*{
    margin: 0;
    padding: 0;
}
#paragraph{
    /* font-variant: small-caps;
    font-style: oblique; */
    /* color: tomato;
    text-transform:uppercase;
    text-shadow: 4px 10px 10px black;
    text-align: center; */
    font-size: 40px;
    background-color: bisque;
    padding: 20px;
    border-width: 2px;
    border-color: blue;
    border-style: solid;
    margin: 30px;
}
.img-box{
    background-color: gray;
    text-align: center;
}
.noakhali-img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    
}